{% extends 'base.html.twig' %}

{% block body %}

        {% for event in events %}

{#            <a href="{{ path('event_show', { eventId: event.id } ) }}"> Daugiau info</a>#}
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <ul class="event-list">
                            <li>
                                <time datetime="{{ event.date|date('Y-m-d')}}">
                                    <span class="day">{{ event.date|date('d')}}</span>
                                    <span class="month">{{ event.getDateMonth()}}</span>
                                    <span class="year">{{ event.date|date('Y')}}</span>
                                    <span class="time">{{ event.date|date('H:i')}}</span>
                                </time>
                                {#                    <img alt="Disney Junior Live On Tour!" src="http://www.thechaifetzarena.com/images/main/DL13_PiratePrincess_thumb.jpg" />#}
                                <div class="info">
                                    <h2 class="title">{{ event.title }}!</h2>
                                    <p class="desc">
                                        {{ event.description|length > 100 ? event.description|slice(0, 100) ~ '...' : event.description  }}

                                    </p>

                                    <ul>
                                        <li style="width:33%;">
                                                {% if event.price == null or event.price == 0 %}
                                                    Nemokamas
                                                {% else %}
                                                    €{{ event.price }}
                                                {% endif %}
                                            <span class="fa fa-tag"></span></li>
                                        <li style="width:34%;"><a href="{{ path('event_show', { eventId: event.id } ) }}">Plačiau <span class="fa fa-info-circle"></span></a></li>
                                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li style="width:12%;"><a href="{{ path('event_delete', {'id': event.id}) }}" >Ištrinti <span></span></a></li>
                                        <li style="width:12%;"><a href="{{ path('event_edit', {'id': event.id}) }}">Koreguoti <span></span></a></li>
                                        {% endif %}

                                    </ul>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}
